<div class="container">
    <div *ngIf="!taskId">
        <p class="alert alert-danger">
                there is no task id
        </p>
    </div>
    <div *ngIf="taskId">
        <h2 class="text-center"> Detials of {{task.name}} </h2>
        <input type="text" class="form-control" placeholder="Task name" [(ngModel)]="task.name">
        <textarea type="text" class="form-control" placeholder="Task description" [(ngModel)]="task.description"></textarea>
        <input type="text" class="form-control" placeholder="Task due date" [(ngModel)]="task.dueDate">
        <button class="btn btn-primary" (click)="editTask()">Edit task</button>
        <a class="btn btn-info" routerLink="/"> Cancel</a>
    </div>
</div>
