<div class="container">
    <div>
        <a routerLink="/add-task" class="add-task-button btn btn-secondary">Add Task</a>
    </div>
    <div *ngIf="tasksService.tasks.length==0">
        <p class="alert alert-danger">
            No tasks 
        </p>
    </div>
    <div *ngIf="tasksService.tasks.length!=0">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let task of tasksService.tasks ; index as i">
                <strong> Name : </strong>{{task.name}}
                
                <button class="del-button btn btn-danger" (click)="deleteTask(i)">Delete</button>
                <strong> Status : </strong><input type="checkbox" name="Task status" [(ngModel)]="task.checked" >
                <div>
                    <a [routerLink] ="['/edit-task',i]" class=" btn btn-secondary" >Show Task</a>
                </div>
                
                
                

            </li>
        </ul>
    </div>
</div>